
<p>
  <b>Course:</b>
  <%= @content.course_id %>
</p>

<p>
  <b>Number:</b>
  <%= @content.number %>
</p>

<p>
  <b>Name:</b>
  <%= @content.name %>
</p>

<p>
  <b>Hours:</b>
  <%= @content.hours %>
</p>

<p>
  <b>In hours:</b>
  <%= @content.in_hours %>
</p>

<p>
  <b>Out hours:</b>
  <%= @content.out_hours %>
</p>


<%#= link_to 'Edit', edit_content_path(@content) %> |
<%#= link_to 'Back', contents_path %>
