<%= form_for @person do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <%= f.fields_for :user do |user| %>
    <div class="field">
      <%= user.label :username %><br />
      <%= user.text_field :username %>
    </div>
    <div class="field">
      <%= user.label :password %><br />
      <%= user.password_field :password %>
    </div>
    <div class="field">
      <%= user.label :password_confirmation %><br />
      <%= user.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
