<div>
  <%= radio_button_tag 'rating_star', 1, false, {:class=> "hover-star", :title => "Muy pobre"} %>
  <%= radio_button_tag 'rating_star', 2, false, {:class=> "hover-star", :title => "Pobre"} %>
  <%= radio_button_tag 'rating_star', 3, false, {:class=> "hover-star", :title => "OK"} %>
  <%= radio_button_tag 'rating_star', 4, false, {:class=> "hover-star", :title => "Bueno"} %>
  <%= radio_button_tag 'rating_star', 5, false, {:class=> "hover-star", :title => "Muy bueno!"} %>
</div>