<div class="div-fluid">
    <div class="page-header">
      <p style="color: gray;text-align: right;">Te encuentras en: <%= link_to "Home", root_url%> &raquo; <%= link_to "Ver por cursos", courses_path(:option=>1) %> &raquo; <%= @course.name %> &raquo; Ver organizaci칩n del curso</p>
      <h3>Organizaci칩n de "<%= @course.name%>"<small></small></h3>
      <div><%= link_to learning_objects_path(:course => @course, :option=> 3), {:class => "btn btn-mini"} do %>
      	<i class="icon-th"></i> Ver todo el material asociado
      	<% end %>
      </div>
    </div>
    <div id="course-organization-explanation">
        A continuaci칩n se muestra el contenido del curso, donde podr치s ver los objetos de aprendizaje asociados a cada tema.
    </div>
    <%= render :partial => "contents/course_organization", :locals => { :units => @course.contents.roots.order(:number) } %>
</div>