<div class="div-fluid">
    <div class="page-header">
        <p style="color: gray;text-align: right;">Te encuentras en: <%= link_to "Home", root_url%> &raquo; Administración &raquo; Cursos</p>
      <h3>Listado de cursos disponibles <small></small></h3>
    </div>
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li>
                    <%= link_to new_course_path do %>
                        <i class="icon-plus-sign"></i>
                        Crear nuevo curso
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
    
    <table class="table table-hover">
      <thead>
        <th>Código</th>
        <th>Nombre</th>
        <th>T</th>
        <th>E</th>
        <th>L</th>
        <th>Hh semana</th>
        <th>Versión</th>
        <th>Categoría</th>
        <th>Carrera</th>
        <th colspan = "3">Acciones</th>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
        <tr>
            <td><%= course.code %></td>
            <td><%= link_to course.name, course, :title =>"Ver temas" %></td>
            <td><%= course.tel_t %></td>
            <td><%= course.tel_e %></td>
            <td><%= course.tel_l %></td>
            <td><%= course.hh_week %></td>
            <td><%= course.version %></td>
            <td><%= course.category.name %></td>
            <td><%= course.career.name %></td>
            <td>
                <%= link_to edit_course_path(course), {:class => "btn btn-mini", :title =>"Editar Curso"} do %>
                    <i class="icon-edit"></i>
                <% end %>
            </td>
            <!-- <td>
                <%#= link_to course_participants_path(course), {:class => "btn btn-mini", :title =>"See Participants"} do %>
                    <i class="icon-user"></i>
                <%# end %>
            </td> -->
            <td>
                <%= link_to course, :class => "btn btn-mini", method: :delete, data: { confirm: '¿Está seguro de eliminar el curso? Tome en cuenta que al realizar esta acción algunos OAs quedarán sin tema asociado.' } do %>
                    <i class="icon-trash"></i>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>

    <br />

    <%#div class="dialog" title="Course" id="new_course_div"></div%>
</div>