<h1>Listing organizations</h1>

<table>
  <tr>
    <th>Learning object</th>
    <th>Identifier</th>
    <th>Title</th>
    <th>Structure</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.learning_object_id %></td>
    <td><%= organization.identifier %></td>
    <td><%= organization.title %></td>
    <td><%= organization.structure %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization', new_organization_path %>
