<%= form_for @learning_object, :html => { :multipart => true } do |f| %>
  <% if @learning_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@learning_object.errors.count, "error") %> prohibited this learning_object from being saved:</h2>
      <ul>
      <% @learning_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid principal-title"><div class="title">Organización</div></div>
    <%= render :partial => "learning_objects/edit_organization" %>
  <div class="row-fluid principal-title"><div class="title">Elige el tópico asociado</div></div>
    <%= render :partial => "learning_objects/edit_associated_topic" %>
  <div class="row-fluid principal-title"><div class="title">Metadatos</div></div>
  <div class="row-fluid metadata"><div class="metadata-title">General</div></div>
    <%= render :partial => "learning_objects/edit_metadata_general" %>
  <div class="row-fluid metadata"><div class="metadata-title">Ciclo de vida</div></div>
    <%= render :partial => "learning_objects/edit_metadata_life_cycle" %>
  <div class="row-fluid metadata"><div class="metadata-title">Educacional</div></div>
    <%= render :partial => "learning_objects/edit_metadata_educational" %>
  <div class="row-fluid metadata"><div class="metadata-title">Derechos</div></div>
    <%= render :partial => "learning_objects/edit_metadata_rights" %>

  <div class="actions">
    <%= f.submit "Actualizar Metadatos", :class=> "btn btn-success" %>
  </div>
<% end %>
