	<div class="div-ayuda">
		<p class="p-ayuda">
			Mediante esta opción puedes subir un archivo .zip generado por un diseñador de contenidos como RELOAD.
				Recuerda que en su contenido debe tener el archivo XML manifiesto para poder ser leído por el sistema.
		</p>
	</div>
	
	<div style="clear: both;"class="row-fluid principal-title"><div class="title">1) Elige el archivo</div></div>
		<div>
	        <%= file_field_tag 'reload_zip_file' %>
	    </div>
	
	<div class="row-fluid principal-title"><div class="title">2) Elige el tópico asociado</div></div>
	<div class="row-fluid metadata-body">
		<div class="span12">
			<div class="row-fluid">
				<div class="span2">Categoría: </div>
				<div class="span10">
					<%= collection_select(:learning_object, :course_id, Course.order(:name), :id, :name, { :include_blank => true }, { :class=> "learning_course_id" }) %>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span2">Tema: </div>
				<div class="span10"><%= grouped_collection_select(:learning_object, :content_id, Course.order(:name), :topics, :name,:id, :name, { :include_blank => true }, { :class=> "learning_content_id" }) %>
				</div>
			</div>
			<div class="row-fluid">
				<div><%= link_to "Agregar categoría "%></div>
			</div>
		</div>	
	</div>
	<div class="row-fluid principal-title"><div class="title"></div></div>
	<div class="row-fluid">
		<%= submit_tag 'Subir ZIP!', :class=> "btn btn-small btn-success", :disabled => true %>
	</div>