<div class="div-fluid">
    <div class="page-header">
        <p style="color: gray;text-align: right;">Te encuentras en: <%= link_to "Home", root_url%> &raquo; Administración &raquo; Material</p>
      <h2>Administración de material</h2>
    </div>
    
    <%= render 'admin_search_form' %>
    
    <table class="table table-hover">
      <thead>
        <th>Nombre OA</th>
        <th>Autor</th>
        <th>Fecha incorporación en ROA</th>
        <th colspan = "2">Acciones</th>
      </thead>
      <tbody>
        <% @learning_objects.each do |lo| %>
        <tr>
            <td><strong><%= link_to lo.name, lo %></strong></td>
            <td><%= MetadataSchema.find_author(lo) %></td>
            <td><%= lo.created_at.strftime("%d %B %Y") %></td>
            <td>
                <% if can? :edit, lo %>
                    <%= link_to edit_learning_object_path(lo), {:class => "btn btn-mini", :title =>"Editar OA", :id => "edit_lo_link"} do %>
                        <i class="icon-edit"></i>
                    <% end %>
                <% end %>
            </td>
            <td>
                <% if can? :destroy, lo %>
                    <%= link_to lo, :class => "btn btn-mini", method: :delete, data: { confirm: '¿Está seguro que desea eliminar?' },:title =>"Eliminar OA" do %>
                        <i class="icon-trash"></i>
                    <% end %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
    <%= will_paginate @learning_objects %>
    <div style="text-align: center; color: darkcyan;">
        <span><%= page_entries_info @learning_objects %></span>
    </div>
    <br />

    <%#div class="dialog" title="Course" id="new_course_div"></div%>
</div>