<div class="div-fluid">
    <div class="page-header">
      <h2><%= @learning_object.name %><small></small></h2>
    </div>
    <div class="container-fluid material-table">
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <div class="span7">
                <div>
                    <% @learning_object.organizations.each do |organization| %>
                        <%= render(:partial => 'learning_objects/organizations', :locals =>{ :organization => organization, :learning_object => @learning_object} ) %>
                    <% end %>
                </div>
            </div>
            <div class="span5">
              <div class="span7 rating_div">
                <div>Rating</div>
                <%= rating_average @learning_object %>
                <br>
                <div class="rate_div"><%= link_to 'Evalúa este material!', new_learning_object_rating_path(@learning_object) %> </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <div class="span4">
              <div><strong>Author:</strong> <%= MetadataSchema.find_author(@learning_object)%></div>
              <div><strong>Date add:</strong> <%= @learning_object.created_at.strftime("%d %B %Y") %></div> 
              <div><strong>Date modified:</strong> <%= @learning_object.updated_at.strftime("%d %B %Y") %></div>
            </div>
            <div class="span8">
              <div><strong>Description:</strong> <%= MetadataSchema.find_description(@learning_object) %></div>
              <div><strong>Keywords:</strong> <%= MetadataSchema.find_keywords(@learning_object) %></div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row-fluid">
        <div class="span9">
          <div><strong>Categorías</strong></div>
          <% @learning_object.learning_materials.each do |category| %>
            <% course = Course.find(category.course_id) %>
            <% content = Content.find(category.content_id)%>
            <div><%= link_to course.name, learning_objects_path(:course => course, :option=> 3) %> > <%= link_to content.name, learning_objects_path(:content => content, :option => 2) %></div>
          <% end %>
        </div>
        <div class="span3">
          <div class="div-descarga">
            <%= link_to download_material_learning_object_path(@learning_object), :class =>"btn btn-small btn-info" do %>
              <i class="icon-download icon-white"></i> Descarga este material
            <% end %> 
          </div>
        </div>
      </div>
  </div>
  <div class="comment-div"></div>
  <div>
      <%= render :partial => "comments/form", :object => @learning_object %>
  </div>
  <h5>Discusión de <%= @learning_object.name %></h5>
  <div class="container-fluid">
    <%= nested_comments @comments, @learning_object %>
  </div>
</div>