<div class="div-fluid">
    <div class="page-header">
      <h2>Learning Object</h2>
    </div>
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li>
                    <%= link_to upload_material_path do %>
                        <i class="icon-plus-sign"></i>
                        Agregar nuevo objeto
                    <% end %>
                </li>
                <li>
                    <%= link_to learning_objects_path(:option=>1) do %>
                        <i class="icon-th-list"></i>
                        Ver todo el material
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
    <div class="details"><p class="text-success material-detail">Material Detail</p></div>
    <div class="row-fluid details">
        <div class="span4">
            <div>
                <% @learning_object.organizations.each do |organization| %>
                    <%= render(:partial => 'learning_objects/organizations', :locals =>{ :organization => organization, :learning_object => @learning_object} ) %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row-fluid details">
        <div class="span4">
            <div class="row-fluid">
                <div class="span6">Date add to ROA:</div>
                <div class="span6"><%= @learning_object.created_at %></div>
            </div>
            <div class="row-fluid">
                <div class="span6">Date modified in ROA:</div>
                <div class="span6"><%= @learning_object.created_at %></div>
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid">
                <div class="span3">Author:</div>
                <div class="span9"><%= @contribute_role %>, <%= @contribute_entity %></div>
            </div>
            <div class="row-fluid">
                <div class="span3">Description:</div>
                <div class="span9"><%= @description %></div>
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid">
                <div class="span3">Keywords:</div>
                <div class="span9"><%= @keywords %></div>
            </div>
        </div>
    </div>
</div>