<!DOCTYPE html>
<html>
<head>
  <title>Roa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" style="height: auto;">
		<div class="navbar-inner">
			<div class="container-fluid">

				<!-- Responsive -->
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!-- ROA -->
				<span class="brand">ROA</span>

				<!-- Atajos -->
				<div class="nav-collapse collapse">

					<!-- Links (izq) -->
					<ul class="nav">
						<li>
							<%= link_to root_url do %>
								<i class="icon-home icon-white"></i> Home
							<% end %>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Ayuda <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li> <%= link_to "Metodologías", methodologies_path(:option => 1) %></li>
								<% if current_user.role? :admin or current_user.role? :desarrollador %>
									<li> <%= link_to "¿Cómo subir un OA?", how_upload_path %></li>
								<% end %>
							</ul>
						</li>
						<!-- <li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Administración <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li> <%#= link_to "Material", methodologies_path(:option => 1) %></li>	
								<li> <%#= link_to "Cursos", courses_path(:option=>2) %></li>
								<li> <%#= link_to "Metadatos", metadata_schemas_path %></li>
							</ul>
						</li> -->
					</ul>

			        <!-- Información login (der) -->
			        <% if current_person %>
			        	<ul class="nav pull-right">
			        		<li class="dropdown">
				                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                  <i class="icon-user icon-white"></i> Registrado como <%= current_person.name %> 
				                  <b class="caret"></b>
				                </a>
			            		<ul class="dropdown-menu">
			            			<!-- <li>
			            				<%#= link_to "Edit Profile", edit_person_path(current_person) %>
			                		</li> -->
			                		<li>
			                			<%= link_to "Salir", logout_path %>
			                		</li>
			            		</ul>
			            	</li>
			            </ul>
			        <% end %>
			    </div>
			</div>
		</div>
	</div>

	<!-- Contenedor principal -->
	<div class="container-fluid">
		<div class="row-fluid">
			 <div class="span2">
			 	<!--Sidebar content-->
			 	<div class="well sidebar-nav">
			 		<ul class="nav nav-list" id="menu">
			 			<li class="nav-header">Material<br></li>
						<% if can? :upload_material, LearningObject %>
							<li><%= link_to "Subir material", upload_material_path %></li>
						<% end %>
						<li>
							<%= link_to "Ver todo el material", learning_objects_path(:option=>1) %>
						</li>
						<li>
							 <%= link_to "Ver por cursos", courses_path(:option=>1) %>
						</li>
						<% if current_user.role? :admin %>

							<li class="divider"></li>
							<li class="nav-header">
								Administración
							</li>
							<% if can? :admin_material_search, LearningObject %>
							<li>
								<%= link_to "Material", admin_material_search_path %>
							</li>
							<% end %>
							<% if can? :admin_material_search, LearningObject %>
							<li>
								<%= link_to "Cursos", courses_path(:option=>2) %>
							</li>
							<% end %>
							<% if can? :metadata_schemas, MetadataSchema %>
							<li>
								<%= link_to "Metadatos", metadata_schemas_path %>
							</li>
							<% end %>
							<!-- <li class="divider"></li> -->
							<!-- <li> <%#= link_to "Usuarios", people_path %></li> -->
						<% end %>
					</ul>
				</div>
			 </div>
			 <div class="span9">
			 	<!--Body content-->

			 	<!-- Mensajes FLASH -->
			 	<div class="row">
			      <% flash.each do |name, msg| %>
			        <div class="alert alert-block" id="flash_<%= name %>">
			          <button type="button" class="close" data-dismiss="alert">&times;</button>
			          </span> <%= msg %>
			        </div>
			      <% end %>
			    </div>
			    
			    <!-- Contenidos -->
			    <div class="row">
			      <%= yield %>
			    </div>
			 </div>
		</div>
	    
	</div>
</body>
</html>
